[Desktop Entry]
Version=1.0
Name=Kurek
GenericName=AI Assistant
Comment=Personal Autonomous AI Desktop Assistant (DeepSeek + xAI Grok TTS)
Exec=kurek toggle
Terminal=false
Type=Application
Icon=kurek
Categories=Utility;AudioVideo;Audio;Development;
StartupNotify=false
Keywords=ai;assistant;jarvis;voice;deepseek;grok;kurek;
